In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datasets/Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
df.shape

(400, 5)

In [4]:
df = pd.get_dummies(df, columns=['Gender'])

In [5]:
df.head()

    User ID  Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0  15624510   19            19000          0              0            1
1  15810944   35            20000          0              0            1
2  15668575   26            43000          0              1            0
3  15603246   27            57000          0              1            0
4  15804002   19            76000          0              0            1

In [6]:
from sklearn.model_selection import train_test_split

X = df.drop(['User ID', 'Purchased'], axis=1)
Y = df['Purchased']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [7]:
x_train.shape, y_train.shape

((320, 4), (320,))

In [8]:
x_test.shape, y_test.shape

((80, 4), (80,))

In [9]:
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression(penalty='l1', C=0.1, solver='liblinear').fit(x_train, y_train)

In [10]:
y_pred = logistic_model.predict(x_test)

In [11]:
pred_results = pd.DataFrame({'y_test': y_test, 'y_pred': y_pred})

In [12]:
pred_results.head()

     y_test  y_pred
195       0       0
17        1       0
168       1       0
131       0       0
64        0       1

In [13]:
df_crosstab = pd.crosstab(pred_results.y_pred, pred_results.y_test)
df_crosstab

y_test   0   1
y_pred
0       56   9
1        4  11

In [14]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [15]:
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)

print("Acurácia : ", accuracy)
print("Precisão : ", precision)
print("Recall : ", recall)

Acurácia :  0.8375
Precisão :  0.7333333333333333
Recall :  0.55

In [16]:
df_crosstab

y_test   0   1
y_pred
0       56   9
1        4  11

In [17]:
TP = df_crosstab[1][1]
TN = df_crosstab[0][0]
FP = df_crosstab[0][1]
FN = df_crosstab[1][0]

In [18]:
accuracy_calc = (TP + TN) / (TP + FP + TN + FN)
print("Acurácia (calculada): ", accuracy_calc)

Acurácia (calculada):  0.8375

In [19]:
precision_calc = TP / (TP + FP)
msg = "Precisão (calculada) = " + str(precision_calc) + " com Falsos Positivos = " + str(FP)
print(msg)

Precisão (calculada) = 0.7333333333333333 com Falsos Positivos = 4

In [20]:
recall_calc = TP / (TP + FN)
msg = "Recall (calculada) = " + str(recall_calc) + " com Falsos Negativos = " + str(FN)
print(msg)

Recall (calculada) = 0.55 com Falsos Negativos = 9